@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("./fonts/Roboto-Light.ttf");
}
