@import "../../css/variables";
@import "../../css/position";
@import "../../css/breakpoints";

.active-link {
  background: var(--current-foreground);
  border-radius: 15px;
  color: var(--current-background) !important;
}

.side-bar {
  @extend .flex-col;
  @extend .center-items;

  @include breakpoint(desktop) {
    height: 100vh; //calc(100vh-100);
    width: 250px;
    flex-direction: column;
  }

  @include breakpoint(mobileonly) {
    height: 150px;
    flex-direction: row;
  }
  .nav-items {
    list-style-type: none;
    padding-left: 0px;

    @include breakpoint(mobileonly) {
      display: flex;
      flex-direction: row;
    }

    li {
      margin: 5px 0;
      .active {
        @extend .active-link;
      }
      &:hover {
        background: $current-foreground;
        border-radius: 15px;
        .nav-link {
          color: $current-background;
        }
      }

      @include breakpoint(mobileonly) {
        padding: 5px;
        width: fit-content;
        margin: 5px;
      }
      & > .nav-link {
        text-decoration: none;
        color: $current-foreground;
        width: 100%;
        text-align: center;
        height: 100%;
        padding: 15px;
      }
    }
  }
}
