@import "./styles.scss";

.App {
  @extend .flex;
  @include breakpoint(desktop) {
    flex-direction: row;
  }
  @include breakpoint(mobileonly) {
    flex-direction: column;
  }
  .sidebar {
    background-color: var(--current-background);
    color: var(--current-foreground);
  }
  .content {
    overflow: hidden;
    flex-grow: 1;
  }
}

.MuiInputBase-root,
.MuiFormControl-root {
  width: 100%;
  margin: 10px 0px;
}
.MuiCardActions-root {
  justify-content: flex-end;
  display: flex;
}

.MuiChip-root {
  margin: 5px !important;
}
