@import "../../../css";
.blogs {
  @extend .flex-row;
  flex-shrink: 0;
  flex-flow: row wrap;
  .blog-container {
    @include breakpoint(desktop) {
      min-width: 300px;
      width: 30%;
      margin: 10px;
    }
    @include breakpoint(mobileonly) {
      width: 100%;
      margin: 10px;
    }
  }
}
